.Page {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5em;
}

.Page mark {
  background: #fef09f;
  margin: -3px -2px;
  padding: 3px 2px;
}

.Page blockquote {
  margin-inline-start: 0;
  padding-inline-start: 1em;
  border-left: 4px solid lightgray;
}

.Page ul, .Page ol {
  padding-inline-start: 2em;
}

.Page .para.selected {
  background-color: cornsilk;
}

.Page .para {
  position: relative;
}

.Page .para .id {
  position: absolute;
  left: -50px;
  font-family: monospace;
  opacity: 0.3;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  box-sizing: border-box;
  padding: 2px 8px;
}
.table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.expandingArea {
  position: relative;
  background: transparent;
}
.expandingArea > textarea, .expandingArea > pre {
  background: transparent;
  font: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-rendering: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
.expandingArea > textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  resize: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.expandingArea > pre {
  visibility: hidden;
}

a:link {
  text-decoration: none;
  color: #106ba3;
}
a:link:hover {
  text-decoration: underline;
}
a.wikilink:before {
  content: '[[';
  color: #a7b6c2;
}
a.wikilink:after {
  content: ']]';
  color: #a7b6c2;
}
a.wikilink:visited {
  color: #106ba3;
}